<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @artist.birth %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @artist.homepage %>
</p>

<p>
  <strong>Ctype:</strong>
  <%= @artist.ctype %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @artist.photo %>
</p>

<br>
<p>
  <strong>このアーティストの楽曲を追加する</strong><br>
  <%= link_to('楽曲の追加', controller: :musics, action: :new, artist_id: @artist.id) %>
</p>
<p>
  <strong>このアーティストの楽曲を表示</strong><br>
  <%= link_to('楽曲の表示', controller: :musics, action: :index, artist_id: @artist.id) %>
</p>

<br><br>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
