<div id="animetitlewrap" style="background-image: url(/assets/back.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>アニメタイトルリスト</h1>
        <h4>主に確認用</h4>
      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/headerwrap -->

<div class="container">
  <h1>Listing Anime Titles</h1>
  <p id="notice"><%= notice %></p>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed newline">
      <thead>
      <tr>
        <!-- ヘッダ -->
        <th colspan="1"></th>
        <th class="col-xs-2 col-ms-2 col-md-2 col-lg-1">ID</th>
        <th class="col-xs-2 col-ms-2 col-md-2 col-lg-2">title</th>
        <th class="col-xs-2 col-ms-2 col-md-2 col-lg-3">icon_url</th>
        <th class="col-xs-1 col-ms-1 col-md-1 col-lg-1">icon</th>
        <th class="col-xs-2 col-ms-2 col-md-2 col-lg-2">created_at</th>
        <th class="col-xs-1 col-ms-1 col-md-1 col-lg-2">updated_at</th>
      </tr>
      </thead>

      <tbody>
      <% @anime_titles.each do |anime_title| %>
        <tr>
          <!-- anime_titleリスト %-->
          <td class="col-xs-1 col-ms-1 col-md-1 col-lg-1">
            <%= link_to '表示', action: :show, id: anime_title.id %><br>
            <%= link_to '編集', action: :edit, id: anime_title.id %><br>
            <%= link_to '削除', {action: :destroy, id: anime_title.id}, {method: :delete, data: {confirm: '削除してよろしいですか？'}} %>
          </td>
          <td class="col-xs-2 col-ms-2 col-md-2 col-lg-1"><%= anime_title.id %></td>
          <td class="col-xs-2 col-ms-2 col-md-2 col-lg-2"><%= anime_title.title %></td>
          <td class="col-xs-2 col-ms-2 col-md-2 col-lg-3"><%= anime_title.icon_url %></td>
          <td class="col-xs-1 col-ms-1 col-md-1 col-lg-1"><%= anime_title.icon %></td>
          <td class="col-xs-2 col-ms-2 col-md-2 col-lg-2"><%= anime_title.created_at %></td>
          <td class="col-xs-1 col-ms-1 col-md-1 col-lg-2"><%= anime_title.updated_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'New Anime Title', action: :new %>

<hr>
<%= link_to 'アニメタイトル一覧', anime_titles_path %>  |
<%= link_to 'トップへ', root_path %>