<%= simple_form_for [@anime_title, @anime_detail], wrapper: "horizontal_form", :html => { :class => 'form-horizontal' } do |f| %>
    <% @anime_detail.anime_title_id = @anime_title.id %>
    <%= f.input :anime_title_id, :readonly => true, input_html:{ style: 'width:50px;'} %>
    <p class="col-sm-3 control-label"></p><p class="col-sm-9">原作：　監督：　脚本：　音楽：　アニメーション制作：</p>
    <%= f.input :profile, label: "プロフィール", input_html:{ class: 'form-group', :rows => 5 } %>
    <%= f.input :op_title, label: "オープニングテーマ", input_html:{ class: 'form-group'} %>
    <%= f.input :op_artist, label: "OPアーティスト", input_html:{ class: 'form-group'} %>
    <%= f.input :op_movie, label: "OP動画", hint: "Youtubeもしくはニコニコ動画の埋め込み用URLを入力", input_html:{ class: 'form-group'} %>
    <%= f.input :ed_title, label: "エンディングテーマ", input_html:{ class: 'form-group'} %>
    <%= f.input :ed_artist, label: "EDアーティスト", input_html:{ class: 'form-group'} %>
    <%= f.input :ed_movie, label: "ED動画", hint: "Youtubeもしくはニコニコ動画の埋め込み用URLを入力", input_html:{ class: 'form-group'} %>
    <div class="actions">
      <%= f.submit :class => 'btn-primary' %>
    </div>
<% end %>

