
<div class="container">
  <div class="row centered">
    <div class="col-md-8 col-md-offset-2">
      <h2>スタッフ情報</h2>
      <% @anime_details.each do |anime_detail| %>
          <p class="mb"><%= anime_detail.profile %></p>
      <% end %>
    </div>
  </div><!-- /row -->
</div><!-- /.container -->

<div id="g">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h2>オープニングテーマ</h2>
        <% @anime_details.each do |anime_detail| %>
            <% if anime_detail.op_artist? %>
                <br><p>artist:<span class="h3"> <%= anime_detail.op_artist %></span></p>
                <p>title:<span class="h3"> <%= anime_detail.op_title %></span></p>
                <% if /\/watch\/([^&]+)/ =~ anime_detail.op_movie  #niconico %>
                    <div class="nico_player">
                      <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%= $1 %>"></script>
                      <noscript><a href="http://www.nicovideo.jp/watch/<%= $1 %>">ニコニコ動画リンク</a></noscript>
                    </div>
                <% elsif /\?v=([^&]+)/ =~ anime_detail.op_movie  #youtube %>
                    <div class="youtube-container">
                      <iframe id="player" type="text/html" width="640" height="390"
                              src="https://www.youtube.com/embed/<%= $1 %>"
                              frameborder="0"></iframe>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div><!-- /col-md-8 -->
    </div><!-- /row -->
  </div><!-- /.container -->
</div>

<br>

<div id="g">
  <div class="container">
    <div class="row centered">
      <div class="col-md-8 col-md-offset-2">
        <h2>エンディングテーマ</h2>
        <% @anime_details.each do |anime_detail| %>
            <% if anime_detail.ed_artist? %>
                <br><p>artist:<span class="h3"> <%= anime_detail.ed_artist %></span></p>
                <p>title:<span class="h3"> <%= anime_detail.ed_title %></span></p>
                <% if /\/watch\/([^&]+)/ =~ anime_detail.ed_movie  #niconico %>
                    <div class="nico_player">
                      <script type="text/javascript" src="//ext.nicovideo.jp/thumb_watch/<%= $1 %>"></script>
                      <noscript><a href="http://www.nicovideo.jp/watch/<%= $1 %>">ニコニコ動画リンク</a></noscript>
                    </div>
                <% elsif /\?v=([^&]+)/ =~ anime_detail.ed_movie #youtube %>
                    <div class="youtube-container">
                      <iframe id="player" type="text/html" width="640" height="390"
                              src="https://www.youtube.com/embed/<%= $1 %>"
                              frameborder="0"></iframe>
                    </div>
                <% end %>
            <% end %>
        <% end %>
      </div><!-- /col-md-8 -->
    </div><!-- /row -->
  </div><!-- /.container -->
</div>