<div id="animedetailwrap" style="background-image: url(/assets/back.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>詳細データ</h1>
        <h4>ここはあってもいみないかも</h4>
      </div>
    </div><! --/row -->
  </div> <!-- /container -->
</div><! --/headerwrap -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Anime title:</strong>
  <%= @anime_detail.anime_title_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @anime_detail.profile %>
</p>

<p>
  <strong>Op title:</strong>
  <%= @anime_detail.op_title %>
</p>

<p>
  <strong>Op artist:</strong>
  <%= @anime_detail.op_artist %>
</p>

<p>
  <strong>Op movie:</strong>
  <%= @anime_detail.op_movie %>
</p>

<p>
  <strong>Ed title:</strong>
  <%= @anime_detail.ed_title %>
</p>

<p>
  <strong>Ed artist:</strong>
  <%= @anime_detail.ed_artist %>
</p>

<p>
  <strong>Ed movie:</strong>
  <%= @anime_detail.ed_movie %>
</p>

<%= link_to 'Edit', action: :edit, anime_title_id: @anime_detail.anime_title_id, id: @anime_detail.id %> |
<%= link_to 'Back', action: :index, anime_title_id: @anime_detail.anime_title_id %>
