<p id="notice"><%= notice %></p>

<h1>Listing Musics</h1>

<table>
  <thead>
    <tr>
      <th>Genre</th>
      <th>Title</th>
      <th>Jacket</th>
      <th>Album</th>
      <th>Publish</th>
      <th>Published</th>
      <th>Youtube</th>
      <th>Artist_id</th>
      <th>*actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.genre %></td>
        <td><%= music.title %></td>
        <td><%= music.jacket %></td>
        <td><%= music.album %></td>
        <td><%= music.publish %></td>
        <td><%= music.published %></td>
        <td><%= music.youtube %></td>
        <td><%= music.artist_id %></td>
        <td>
          <%= link_to '表示', artist_music_path(music.artist, music) %>
          <%= link_to '編集', edit_artist_music_path(music.artist, music) %>
          <%= link_to '削除', {action: :destroy, id: music.id}, {method: :delete, data: {confirm: '削除してよろしいですか？'}} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<pre>
  new_artist: <%= new_artist_path %>
  new_artist_music(1): <%= link_to 'test_new1', new_artist_music_path(Artist.first) %>
  new_artist_music(2): <%= link_to 'test_new2', controller: :musics, action: :new, artist_id: Artist.first.id %>
  edit_artist(1): <%= edit_artist_path(Artist.first)%>
  edit_artist(2): <%= edit_artist_path(id: Artist.first.id)%>
  artist_music(1): <%= artist_music_path(Artist.first, Artist.first.musics.first) %>
  artist_music(2): <%= artist_music_path(artist_id: Artist.first.id, id: Artist.first.musics.first.id) %>
  artist_music(3): <%= artist_music_path(artist_id: Artist.first.id, id: Artist.first.musics.first.id, foo: 1, bar: 2) %>
  artist_music(4): <%= link_to 'sample', controller: :musics, action: :show, artist_id: Artist.first.id, id: Artist.first.musics.first.id %>

</pre>

<br>

<p>
  <strong>このアーティストの楽曲を追加する</strong><br>
  <%= link_to('楽曲の追加', controller: :musics, action: :new, artist_id: @artist.id) %>
</p>