<!DOCTYPE html>
<html>
<head>
  <title>Musico</title>
  <%= favicon_link_tag 'assets/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- header -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "ANIMUSIC!", {:controller => "home", :action => "index"}, {:class => "navbar-brand"} %>
    </div>
  </div>
</div>

<%= yield %>

<!-- footer -->
<%= render partial: 'layouts/footer' %>

</body>
</html>
