<!DOCTYPE html>
<html>
<head>
  <title>Musico</title>
  <%= favicon_link_tag 'assets/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- header -->
<%= render partial: 'layouts/header' %>

<%= yield %>

<!-- footer -->
<%= render partial: 'layouts/footer' %>

</body>
</html>
